@model Amigo.Models.travel

@{
    ViewBag.Title = "Post";
}

<h2>Post a trip</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    @if (ViewBag.Message != null)
    {
        <div class="row">
            <div class="col-md-10">
                @ViewBag.Message
            </div>
        </div>
    }


        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.departure, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.departure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departure, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label for="origin">Destination :</label>
                <input class="form-control" id="destination">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="date">Date of departure :</label>
                <input class="form-control" id="date">
            </div>
            <div class="col-md-6">
                <label for="hour">Time of departure :</label>
                <input class="form-control" id="hour">
            </div>
        </div>
        <div class="row">
            <div class="col-centered">
                <label for="contribution">Contribution requested to a passenger :</label>
                <input class="form-control" id="contribution">
                <label>$</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>
}


