@model IEnumerable<Amigo.Models.travel>
@{
    ViewBag.Title = "Search";
}

@if (Session["SessionID"] != null)
{
    <h4>HELLO @Session["FirstName"].ToString() ! Make a reservation</h4>
}

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <p></p>
    <p>Departure location : @Html.TextBox("dep")</p>
    <p>Arrival location : @Html.TextBox("arr")</p>
    <p><span>Date of departure: </span><input type="date" id="d" name="d" /></p>
    <input type="submit"  class="btn btn-default" />
    <p></p>

}

<table class="table">
    <tr>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Hour</th>
        <th>Date</th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.departure
            </td>
            <td>
                @item.arrival
            </td>
            <td>
                @item.hour
            </td>
            <td>
                @item.date
            </td>
            

        </tr>
       
    }

</table>